
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,700');

* {
	font-family: 'Montserrat', sans-serif;
}

// cores

.purple {
	color: $purple;
}

.orange {
	color: $orange;
}

.brown {
	color: $brown;
}

.snow {
	//color: $snow;
	color: #ffffff;
}

.gray {
	color: $gray;
}

// alinhar

.center {
	text-align: center;
}

// margin

.no-margin {
	margin: 0px;
}

.mg-top-5 {
	margin-top: 5px;
}

.mg-top-10 {
	margin-top: 10px;
}

.mg-top-20 {
	margin-top: 20px;
}

.mg-top-30 {
	margin-top: 30px;
}

.mg-top-40 {
	margin-top: 40px;
}

//Padding
.no-padding {
    padding: 0px
}
.padding-40 {
    padding: 40px
}
.padding-top-10 {
    padding-top: 10%
}
.padding-top-30 {
    padding-top: 30%
}

//Font style
.bold {
    font-weight: 700
}
.light {
    font-weight: 300
}

.btn-conta {
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
	padding: 2.5rem;
}

// alert paragrafo
.alert-paragrafo {
	text-align: justify;
}

// corrige o mau funcionamento do botão voltar quando o texto do cabeçalho é alinhado ao centro
.back-button.show-back-button {
	z-index: 9999;
	display: inline-block;
}

// alinha o texto do cabeçalho
.titulo-pagina {
   position: absolute;
   top: 0;
   left: 0;
   padding: 0 90px 1px;
   width: 100%;
   height: 100%;
   text-align: center;
}