page-carrinho {

    .toolbar-background {
        background: #fdb813;
    }

    // título da página
    .toolbar-title {
        font-weight: bold;
        color: #4B4237;
        font-size: 20px;
    }
}
