<ion-header>
  <ion-navbar>
    <button ion-button icon-only class="block">
      <ion-icon name="menu" class="block"></ion-icon>
    </button>

    <ion-title class="titulo-pagina">
      Menu
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4 class="lanche">Pizzas</h4>

  <!-- lista de pizzas exibidas no cardápio -->
  <ion-list>
      <ion-item *ngFor="let pizza of pizzas | async">
        <ion-avatar item-start>
          <img src="{{ pizza.foto }}" class="border-img">
        </ion-avatar>
        
        <h2 class="titulo-item">{{ pizza.nome }}</h2>
        <p class="descricao-item">{{ pizza.descricao }}</p>
        <p class="preco-item">R$ {{ pizza.preco }}</p>
      </ion-item>
  </ion-list>
  
  <h4 class="lanche">Hambúrgueres</h4>

  <!-- lista de hambúrgueres exibidas no cardápio -->
  <ion-list>
      <ion-item *ngFor="let hamburguer of hamburgueres | async">
        <ion-avatar item-start>
          <img src="{{ hamburguer.foto }}" class="border-img">
        </ion-avatar>
        
        <h2 class="titulo-item">{{ hamburguer.nome }}</h2>
        <p class="descricao-item">{{ hamburguer.descricao }}</p>
        <p class="preco-item">R$ {{ hamburguer.preco }}</p>
      </ion-item>
  </ion-list>

  <h4 class="lanche">Bebidas</h4>
  
  <!-- lista de bebidas exibidas no cardápio -->
  <ion-list>
    <ion-item *ngFor="let bebida of bebidas | async">
      <ion-avatar item-start>
        <img src="{{ bebida.foto }}" class="border-img">
      </ion-avatar>

      <h2 class="titulo-item">{{ bebida.nome }}</h2>
      <p class="descricao-item">{{ bebida.descricao }}</p>
      <p class="preco-item">R$ {{ bebida.preco }}</p>
    </ion-item>
  </ion-list>

</ion-content>